.footer {
    border-top: 2px solid #9C69E2;
    margin-top: 100px;
}
.footer__general {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__links>ul {
    width: 28rem;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer__info__text {
    width: 20rem;
    font-family: "Avenir";
    line-height: 22px;
    padding-left: 10px;
}
.group{
    position: fixed;
    bottom: 2rem;
    right:5rem;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
.learn__link{
    display: inline-block;
    border-radius: 50px;
    background-color:  #F063B8;
    color: #fff;
    text-align: center;
    line-height: 3em;
    width: 13rem;
    height: 4rem;
    font-size: 1.3em;
}
.footer__req__demo__link {
    text-align: center;
    line-height: 4em;
    width: 13rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-weight: 800;
    font-size: 1em;
}
@media screen and (max-width:700px) {
    .footer__general{
        display: flex;
        flex-direction: column;
    }
    .footer__links> ul{
        width: 17rem;
        display: flex;
        flex-direction: column;
    }
    .group{
        display: none;
    }
    .footer__info{
        width: 20rem;
    }
    .footer__req__demo__link{
        margin-top: 2rem;
    }
}
