.header {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu {
  display: none;
  width: 32px;
  cursor: pointer;
}
.header__menu > img {
  max-width: 100%;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 0;
   
}

.header__nav-item {
    font-size: 1em;
    padding: 0 10px;
    transition: transform 1s ease;
}
.header__nav-item:hover {
  transform: rotate(360deg); 
}

.header__nav-item:first-child {
    font-weight: 800;
}
.header__nav {
    margin-right: auto;
}

.req__demo__link {
    text-align: center;
    line-height: 4em;
    width: 13rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-weight: 800;
    font-size: 1em;
}
.arrow{
  height: 0.9rem;
}

@media screen and (max-width:700px) {
   .req__demo__link{
      display: none;
   }
   .header__img{
     display: none;
   }
   .header {
    width: 30rem;
    position: fixed;
    padding: 20px;
    background-color: white;
    z-index: 10;

  }
   .header__nav {
      background: #e7ecff;
      position: fixed;
      clip-path: circle(0 at top left); */
      transition: clip-path 0.9s ease-in;}

    .header__menu {
        display: block;
      } 
    .header__nav.open {
        clip-path: circle(1000px at top);
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: #e7ecff ;
        margin-top: 60px;
      }
    
    .header__nav ul {
        
        flex-direction: column;
         position: fixed;
      
      }
    
    .header__nav .header__nav-item {
        margin-right: 0;
        padding-top: 20px;
        flex: 1;
      }
    
    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 30px;
      }
}