.container{
    width:100%;
    margin: 15px auto;
    height: auto;
}
.up{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.managing_container{
    height:auto ;
}
.search_container{
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 15px;
}
.search__block{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between}
.search{
    width: 70%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.search_text{
    line-height: 50px;
    font-size: 14px;
    margin: 0;
    width: 30%;
    text-align: center;
}
.search__input{
    font-size: 16px; 
   
    width: 60%;
    height: 100%;
}

.search_button{
    letter-spacing: 1px;
    width: 15%;
    border:none;
    background-color: #D54545;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    height: 120%;

}
.clear_button{
    letter-spacing: 1px;
    width: 15%;
    border:none;
    background-color: #4583d5;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    height: 120%;

}
ul{
    list-style: none;
}
#items_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#items_container_1{
    height: auto;
}
#items_container > .item-bicycle{
    border: 2px solid #D54545;
}
li{
    border: 2px solid #4583d5;
    margin: 10px 0;
    padding: 10px;
}
.counting{
    border-top: 2px solid grey;
    width : 100%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count_button{
    letter-spacing: 1px;
    width: 15%;
    border:none;
    background-color: #4583d5;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin-bottom: 20px;
}
.total-price{
    display: flex;
    width: 20%;
    justify-content: space-around;
    font-size: 20px;
}
.create_edit{
    display: flex;
    width: auto;
    justify-content: space-around;
    height: 100vh;
}
.create_container{
    display: block;
    height: auto;
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
.edit_container{
    display: block;
    height: auto;
    width: 40%;
    display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.create_table{
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.edit_container{
    display: flex;
    flex-direction: column;
   justify-content: center;

}
.inputs{
    margin-bottom: 40px;
   
}
.submit_button{
    letter-spacing: 1px;
    width: 50%;
    border:none;
    background-color: #4583d5;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin-left: 25%;
}
.save_button{
    letter-spacing: 1px;
    width: 50%;
    border:none;
    background-color: #4583d5;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    margin-left: 25%;

   
}

